<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/dashboardStyle.css" />
  </head>
  <body>
    <header>Header Goes here</header>

    <aside>Aside here</aside>
    <main>
      <article>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, sunt
        possimus itaque, delectus dicta eum fuga assumenda eaque labore impedit
        inventore eos debitis modi nobis! Nam unde dolorum minus cumque. Quod
        incidunt repellat aliquam nemo magni aspernatur porro illo pariatur
        delectus laborum ipsum odio neque iure omnis ea, iste dicta
        exercitationem enim molestias? Dolore amet repudiandae dignissimos nobis
        aliquam obcaecati! Laboriosam doloremque porro eligendi illum magnam
        nisi reprehenderit unde culpa voluptas suscipit necessitatibus, id
        molestiae obcaecati dolorem odit doloribus quae quas dolor. Minus,
        veritatis omnis. Ut labore voluptatum qui quas. Velit consequuntur
        inventore aspernatur officiis cum voluptatem alias deserunt odit, eius
        possimus officia qui nemo dolor labore pariatur cupiditate corporis
        atque totam iste consectetur debitis! Reiciendis consequuntur maiores
        suscipit nulla! Nemo odit at autem impedit facilis beatae nihil
        voluptate debitis quam neque ducimus aliquam rerum consequatur veniam
        amet mollitia, ex quae iure. Minus consequatur culpa magnam ex dolore?
        Facere, alias! Labore, quibusdam! Quibusdam impedit excepturi officiis,
        molestiae maiores eveniet adipisci assumenda quaerat nam suscipit, ab
        nesciunt nemo eligendi quo. Qui impedit quidem, perferendis veniam
        numquam dolorum placeat laborum repellendus consectetur? Porro excepturi
        mollitia sit totam magni minus accusamus cumque molestias maiores, neque
        animi similique voluptatem error debitis quisquam impedit ut? Dicta
        facere explicabo enim iusto neque et maiores consectetur debitis.
        Voluptates hic quia et corporis cumque eveniet sint molestias, quaerat
        nobis ducimus repellendus sapiente. Odit fuga labore error, harum iste,
        vitae quam nihil maxime beatae eum dolor, officia recusandae porro. Esse
        vero quia asperiores illo nam maxime veniam fugiat repellat facilis
        dolor illum modi facere ducimus eius reprehenderit aut aliquid, sed
        sapiente. Possimus eaque odio temporibus mollitia animi, quos labore.
        Quia quam voluptatibus ducimus non alias? Dicta voluptatibus totam
        voluptatem alias aliquid quod velit ex molestias cumque fugiat placeat,
        maxime beatae nihil. Nam consectetur inventore aliquam deserunt, quam
        saepe possimus? Quas, eius doloremque velit dicta consequatur fugit
        labore dignissimos harum? Ad fuga nulla temporibus mollitia iure ducimus
        nemo excepturi quae! Eius aperiam similique facilis provident, nemo
        impedit quis? Sint, recusandae? Quod amet molestias, nihil pariatur hic,
        eius harum commodi possimus quam, modi facilis voluptates? Earum
        molestias hic modi facilis assumenda nobis delectus. Excepturi, sed
        sapiente ad dolore eligendi beatae aliquid. Natus quos nostrum quasi,
        blanditiis nesciunt explicabo porro necessitatibus? Doloribus debitis
        aliquid quibusdam odio esse quas corrupti sed a, molestias optio
        distinctio sequi consectetur. Similique animi natus obcaecati quisquam
        et? Natus quae esse ipsam molestiae tenetur eveniet impedit doloribus
        dolorum sapiente iure. Rerum, nemo. Aliquam aut possimus temporibus
        pariatur voluptatum, veniam aperiam ex autem expedita nesciunt soluta
        perferendis quod accusantium! Aperiam quis eum quae possimus unde
        tempora ducimus quos minima minus veniam. Dolores vitae cum reiciendis
        non sed aspernatur! Eos, commodi veniam! Animi veritatis amet eius
        aliquam tempore non qui. Impedit, veritatis nisi! Laboriosam consequatur
        quidem iusto reprehenderit a quia excepturi fugiat ut quasi! Molestias
        vitae qui excepturi placeat, numquam at veniam, impedit dicta ullam
        praesentium itaque quo magni dolor. Corrupti maxime laborum libero optio
        reiciendis, minima vel ratione placeat commodi saepe tempora aspernatur
        beatae porro perspiciatis necessitatibus earum fugit consectetur ex rem
        delectus dolorem voluptatibus itaque. Fugiat, consequatur magnam? Culpa
        voluptatibus voluptates laboriosam esse velit optio magnam tempore illo
        asperiores dignissimos, vitae molestiae ipsa. Eligendi, est officiis.
        Magnam blanditiis laboriosam repudiandae molestiae earum et aspernatur
        iste quasi quaerat harum. Est obcaecati quo natus quibusdam optio
        blanditiis reprehenderit laborum aut, vero cum corporis impedit debitis
        quam at nesciunt ullam fugiat asperiores cupiditate tenetur. Ipsam alias
        saepe, soluta itaque cupiditate dolore? Magnam facere dolorem
        consequuntur dolore? Rerum ea, expedita nisi, numquam repellendus velit
        itaque quae iusto ex tempore ab debitis? Ipsam iste doloribus deleniti
        vitae voluptatibus. Tempora reiciendis voluptate sit tenetur!
      </article>
      <footer>Footer</footer>
    </main>

    <script src="js/app.js"></script>
  </body>
</html>
