<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>

    <!-- css -->
    <link rel="stylesheet" href="css/income.css" />
    <title>Income</title>
  </head>
  <body>
    <header class="flex">
      <div class="brand flex">
        <img src="assets/FinTrack.png" class="brandImg" alt="img here" />
      </div>
      <div class="menuIcons flexCenter">
        <svg width="24" height="24" fill="#023E8A" viewBox="0 0 16 16">
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
          />
        </svg>
        <svg width="24" height="24" fill="#023E8A" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
          />
        </svg>
      </div>
    </header>

    <main>
      <div class="sideBar">
        <h2 class="flexCenter">Menu</h2>
        <ul>
          <li id="dashboardButton">Dashboard</li>
          <li id="profileButton">Profile</li>
          <li id="analyticsButton">Analytics</li>
          <li id="goalsButton">Goals</li>
        </ul>
        <h3 class="flexCenter" id="logoutButton">Logout</h3>
      </div>

      <button class="menuDiv flexCenter">
        <svg
          width="28"
          height="28"
          fill="currentColor"
          class="burgerIcon"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
        <svg
          width="28"
          style="display: none"
          height="28"
          fill="currentColor"
          class="crossIcon"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>

      <div class="mainDiv">
        <h1><b>Income</b></h1>

        <div class="tableDiv">
          <table>
            <tr>
              <th class="tableHeader">Date</th>
              <th class="tableHeader">Amount</th>
              <th class="tableHeader">Category</th>
              <th class="tableHeader">Details</th>
            </tr>
            <tr>
              <td>12-12-12</td>
              <td>1009</td>
              <td>Food</td>
              <td>haygdujhbsjkxcxbxxh</td>
            </tr>
            <tr>
              <td>12-12-12</td>
              <td>1009</td>
              <td>Food</td>
              <td>haygdujhbsjkxcxbxxh</td>
            </tr>
            <tr>
              <td>12-12-12</td>
              <td>1009</td>
              <td>Food</td>
              <td>haygdujhbsjkxcxbxxh</td>
            </tr>
          </table>
        </div>
        <div class="formDiv">
          <form action="/expenses" method="POST">
            <!-- <input name="source" type="text" class="feedback-input" placeholder="Source" />    -->
            <input
              name="amount"
              type="number"
              class="feedback-input"
              placeholder="Amount"
            />
            <input
              name="category"
              type="text"
              class="feedback-input"
              placeholder="Category"
            />
            <input
              name="desc"
              type="text"
              class="feedback-input"
              placeholder="Desc"
            />
            <div class="button"><button type="submit">UPDATE</button></div>
          </form>
        </div>
      </div>
    </main>

    <footer class="flexCenter">&copy; 2022, FinTrack</footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/income.js"></script>
  </body>
</html>
