<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <title>Dashboard</title>
  </head>
  <body>
    <header class="flex">
      <div class="brand flex">
        <img src="assets/FinTrack.png" class="brandImg" alt="img here" />
      </div>
      <div class="menuIcons flexCenter">
        <svg width="24" height="24" fill="#023E8A" viewBox="0 0 16 16">
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
          />
        </svg>
        <svg width="24" height="24" fill="#023E8A" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
          />
        </svg>
      </div>
    </header>

    <main>
      <div class="sideBar">
        <h2 class="flexCenter">Menu</h2>
        <ul>
          <li id="dashboardButton">Dashboard</li>
          <li id="profileButton">Profile</li>
          <li id="analyticsButton">Analytics</li>
          <li id="goalsButton">Goals</li>
        </ul>
        <h3 class="flexCenter" id="logoutButton">Logout</h3>
      </div>

      <button class="menuDiv flexCenter">
        <svg
          width="28"
          height="28"
          fill="currentColor"
          class="burgerIcon"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
        <svg
          width="28"
          style="display: none"
          height="28"
          fill="currentColor"
          class="crossIcon"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>

      <div class="mainDiv">
        <h1>Dashboard</h1>
        <div class="cardsDiv">
          <div class="card">
            <div>Total Income</div>
            <div class="totalValue">$ 4,000</div>
            <button id="manageIncome">
              <svg  width="16" height="16" fill="#0096C7"  viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg>Manage Income
            </button>
          </div>
          <div class="card">
            <div>Total Expenses</div>
            <div class="totalValue">$ 3,450</div>
            <button id="manageExpense">
              <svg  width="16" height="16" fill="#0096C7"  viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg> Manage Expenses</button>
          </div>
          <div class="card">
            <div>Total Savings</div>
            <div class="totalValue">$ 423</div>
          </div>

        </div>
        <div id="expensePieChart" style=" width: 800px; height: 400px;"></div>
        <div id="incomePieChart" style=" width: 800px; height: 400px;"></div>
      </div>
    </main>

    <footer class="flexCenter">&copy; 2022, FinTrack</footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
