* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  header{
      background-color: aqua;
      position: absolute;
      top: 0;
      right: 0;
      width: 75rem;
      height: 6rem;
  }
  
  aside{
      position: fixed;
      background-color: blue;
      width: 20rem;
      height: 100vh;
  }
  
  main{
      background-color: rgb(230, 230, 230);
      position: absolute;
      top: 6rem;
      right: 0;
      min-width: 60rem;
      max-width: 75rem;
      width: fit-content;
      height: max-content;
  }
  
  footer{
      color: white;
      background-color: black;
      width: 100%;
      height: 10rem;
  }